<div class="p-4 confirm-wrapper">

  <div class="mb-3 text-center">
    <h3 class="fw-semibold">Confirm Delete</h3>
  </div>

  <p class="text-muted mb-2 text-center">
    {{ data.message }}
  </p>

  <p class="text-danger small mb-3 text-center">
    This action cannot be undone.
  </p>

  <!-- Checkbox -->
  <div class="form-check mb-4 d-flex justify-content-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      id="confirmCheck"
      [(ngModel)]="isChecked"
    />
    <label class="form-check-label" for="confirmCheck">
      I understand this action is irreversible
    </label>
  </div>

  <div class="d-flex justify-content-center gap-3">

    <button class="btn btn-light btn-sm px-4" (click)="cancel()">
      Cancel
    </button>

    <button
      class="btn btn-danger btn-sm px-4"
      (click)="confirm()"
      [disabled]="!isChecked"
    >
      Delete
    </button>

  </div>

</div>