<div class="modal fade show d-block custom-backdrop" tabindex="-1">

 <div class="modal-dialog modal-dialog-centered modal-md">

    <div class="modal-content shadow-lg border-0">

      <!-- Header -->
      <div class="modal-header border-0">
        <h5 class="modal-title fw-semibold text-danger">
          Confirm Delete
        </h5>

        <button type="button" class="btn-close" (click)="cancel()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body text-center">

        <h5 class=" mb-2">
          {{ data.message }}
        </h5>

        <strong class="text-danger mb-3">
          This action cannot be undone.
        </strong>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-3">

          <input
            class="form-check-input me-2"
            type="checkbox"
            id="confirmCheck"
            [(ngModel)]="isChecked"
          />

          <label class="form-check-label" for="confirmCheck">
            I understand this action is irreversible
          </label>

        </div>

      </div>

      <!-- Footer -->
      <div class="modal-footer border-0 d-flex justify-content-center gap-2">

        <button class="btn btn-light px-4" (click)="cancel()">
          Cancel
        </button>

        <button
          class="btn btn-danger px-4"
          (click)="confirm()"
          [disabled]="!isChecked"
        >
          Delete
        </button>

      </div>

    </div>

  </div>

</div>