<div class="card border-0 shadow-sm">

  <div class="card-body">

    <!-- Title -->
    <!-- <h5 class="text-center mb-3">Upload Payment Excel</h5> -->

    <!-- Platform -->
    <div class="mb-3">
      <!-- <label class="form-label fw-semibold">Select Platform</label> -->
      <select class="form-select" [(ngModel)]="selectedPlatform">
        <option value="">-- Select Platform --</option>
        <option *ngFor="let p of platforms" [value]="p.code">
          {{ p.name }}
        </option>
      </select>
    </div>

    <!-- File -->
    <div class="mb-3">
      <input 
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        accept=".xlsx,.xls"
      />
    </div>

    <!-- Upload Button -->
    <div class="d-grid mb-3">
      <button class="btn btn-primary btn-sm" (click)="uploadFile()">
        ⬆ Upload Excel
      </button>
    </div>

    <!-- Message -->
    <p class="text-success text-center">{{ message }}</p>

  </div>
</div>