<div class="container-fluid mt-4 mb-4">

    <!-- PLATFORM FILTER -->

    <div class="row mb-3 ">

        <div class="col-md-3">

            <!-- <select class="form-select" [(ngModel)]="platformId" (change)="changePlatform()"> -->

            <select class="form-select" [(ngModel)]="selectedPlatform" (change)="changePlatform()">
                <option value="">-- Select Platform --</option>
                <option *ngFor=" let p of platforms" [value]="p.code">
                    {{ p.name }}
                </option>
            </select>

        </div>

    </div>


    <!-- SUMMARY CARDS -->

    <div class="row mb-3 g-3" *ngIf="dashboard">

        <div class="col-6 col-md-2">
            <div class="card text-white bg-primary shadow">
                <div class="card-body text-center">
                    <h6>Total Orders</h6>
                    <h4>{{dashboard.summary.total_orders}}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="card text-white bg-success shadow">
                <div class="card-body text-center">
                    <h6>Total Products</h6>
                    <h4>{{dashboard.summary.total_products}}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="card text-white bg-warning shadow">
                <div class="card-body text-center">
                    <h6>Total Sales</h6>
                    <h4>₹{{dashboard.summary.total_sales}}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="card text-white bg-danger shadow">
                <div class="card-body text-center">
                    <h6>Returns</h6>
                    <h4>₹{{dashboard.summary.total_returns}}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="card text-white bg-info shadow">
                <div class="card-body text-center">
                    <h6>Settlement</h6>
                    <h4>₹{{dashboard.summary.total_settlement}}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="card text-white bg-dark shadow">
                <div class="card-body text-center">
                    <h6>Low Stock</h6>
                    <h4>{{dashboard.summary.low_stock_products}}</h4>
                </div>
            </div>
        </div>

    </div>


    <!-- ORDERS BY STATUS -->

    <div class="row mt-4 g-3" *ngIf="dashboard">

        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    Orders by Status
                </div>

                <table class="table table-hover table-sm m-3">
                    <tr>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>

                    <tr *ngFor="let s of dashboard.orders_by_status">
                        <td>
                            <span class="badge bg-secondary">{{s.status}}</span>
                        </td>
                        <td><b>{{s.total}}</b></td>
                    </tr>
                </table>
            </div>

        </div>


        <!-- PLATFORM STATS -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    Orders by Platform
                </div>

                <table class="table table-hover table-sm m-3">
                    <tr>
                        <th>Platform</th>
                        <th>Total</th>
                    </tr>

                    <tr *ngFor="let p of dashboard.orders_by_platform">
                        <td>{{p.platform}}</td>
                        <td><span class="badge bg-primary">{{p.total}}</span></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>


    <!-- SALES TREND -->

    <div class="row mt-4" *ngIf="dashboard">

        <div class="col-md-12">

            <div class="card shadow-sm">

                <div class="card-header bg-success text-white">
                    Sales Trend (Last 7 Days)
                </div>

                <table class="table table-hover table-sm ">
                    <thead class="table-dark">
                        <tr>
                            <th>Date</th>
                            <th>Total Orders</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let t of dashboard.sales_trend">
                            <td>{{t.date}}</td>
                            <td><b>{{t.total_orders}}</b></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <!-- DELIVERY PARTNER STATS -->

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    Delivery Partner Performance
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center m-3">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Partner</th>
                                <th>Total Orders</th>
                                <th>Shipped</th>
                                <th>Delivered</th>
                                <th>RTO</th>
                                <th>Cancelled</th>
                                <th>Customer Return</th>
                                <th>Success %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of dashboard?.delivery_partner_stats">
                                <td>{{ d.partner }}</td>
                                <td>{{ d.total_orders }}</td>
                                <td><span class="badge bg-info text-dark">{{ d.ready_to_ship }}</span></td>
                                <td><span class="badge bg-success">{{ d.delivered }}</span></td>
                                <td><span class="badge bg-warning text-dark">{{ d.rto }}</span></td>
                                <td><span class="badge bg-danger">{{ d.cancelled }}</span></td>
                                <td><span class="badge bg-info text-dark">{{ d.customer_return }}</span></td>
                                <td>
                                    <span class="badge bg-dark">
                                        {{
                                        d.total_orders
                                        ? ((d.delivered / d.total_orders) * 100 | number:'1.0-0')
                                        : 0
                                        }}%
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="!dashboard?.delivery_partner_stats?.length">
                                <td colspan="7" class="text-center py-4 text-muted">
                                    No data found
                                </td>
                            </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>